* {
  background-size: 100vw;
}

.testing {
  display: flex;
  flex-direction: space-evenly;
  justify-content: center;
  height: 100vh;
  background-repeat: 'no-repeat';
  padding: 5px
}

.poster {
  height: 80%;
  padding: 1em;
}