* {
  background-size: 100vw;
  padding:none;
  margin: none;
}

.movie-detail {
  display: flex;
  flex-direction: space-evenly;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.poster-section {
  background-color: rgba(0,0,0,1);
  /* background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)); */
  height: 100%;
  width: 35%;
  /* padding: 3em; */
}

.text-section {
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  height: 100%;
}

.poster {
  height: 60%;
  /* padding-left: 1em; */
  /* box-shadow: 10px 10px 5px gray; */
}